<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gejiahui.mapper.FlowerMapper">

	<select id="getList" resultType="com.gejiahui.bean.Flower">
		select f.*,tname from flower f ,type t where f.tid = t.tid 
		
		<if test="fname!=null and fname!=''">
			and fname like concat('%',#{fname},'%') 
		</if>
		
		ORDER BY fid
	</select>
	
	<delete id="dela">
		delete from flower where fid in (
		
			<foreach collection="array" item="fid" separator=",">
			#{fid}
			</foreach>
		)
	</delete>
</mapper>